@import 'style';

.hero {
    @include flex(center, center, nowrap, column);
    width: 100%;
    min-height: 80vh;
    background-image: url('/assests/images/main-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-neutral-1000);
    text-align: center;
    font-weight: var(--fw-bold);
    .fs-700 {
        padding: 0 10px;
    }
}

.quickActions {
    position: relative;
    top: -60px;
    padding-inline: var(--inline-padding);
    .action {
        @include flex();
        width: clamp(300px, 30vw, 380px);
        height: 14.625rem;
        color: var(--clr-neutral-1000);
        background-color: var(--clr-primary-900);
        text-align: center;
        font-size: var(--fs-300);
        font-weight: var(--fw-bold);
        border-radius: 10px;
        transition: 0.2s ease;
        &:hover {
            color: var(--clr-accent-700);
        }
    }
}

.news {
    padding-inline: var(--inline-padding);
}

.block-title {
    font-size: var(--fs-500);
    color: var(--clr-primary-900);
    position: relative;
    &::after {
        content: "";
        width: 100vw;
        height: 1px;
        background-color: var(--clr-primary-900);
        position: absolute;
        bottom: 0;
        right: -15%;
    }
}

.news-block-wrapper {
    @include flex(space-between, stretch, wrap);
    margin: 40px 0;
    gap: 1.25rem;
    .news-block {
        width: clamp(300px, 30%, 380px);
        text-align: start;
        border-radius: 10px;
        isolation: isolate;
        position: relative;
        background-color: var(--clr-neutral-1000);
        box-shadow: 0 0 10px var(--clr-shadow);
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .info-block {
            position: relative;
            border-radius: 10px;
            padding: 10px;
            z-index: -1;
        }
        .date {
            margin: 10px 0;
            color: var(--clr-dark-500);
            display: block;
            font-weight: var(--fw-regular);
        }
        .descr {
            display: block;
            font-weight: var(--fw-semi-medium);
        }
        .link {
            margin-top: 10px;
            justify-content: flex-start;
            width: fit-content;
        }
    }
}

.director-block-wrapper {
    position: relative;
    margin-bottom: 8.125rem;
    &::before {
        content: "";
        z-index: -1;
        width: 100vw;
        height: calc(100% - 2.5rem);
        position: absolute;
        background: #F8F8F8;
    }
}

.director-block {
    position: relative;
    img {
        flex: 1;
        width: clamp(240px, 40%, 480px);
    }
    &-info {
        flex: 1;
        @include flex(flex-start, flex-start, nowrap, column);
        padding: 3.125rem 20px 20px 3.125rem;
        min-width: 280px;
        .title {
            position: relative;
            font-size: var(--fs-500);
            color: var(--clr-primary-900);
            font-weight: var(--fw-medium);
            margin-bottom: 3.4rem;
            &::after {
                content: "";
                position: absolute;
                bottom: -0.9375rem;
                right: -50%;
                width: 200%;
                height: 1px;
                background-color: var(--clr-primary-900);
                z-index: -1;
            }
        }
        .descr {
            font-weight: var(--fw-semi-medium);
            margin-bottom: 1.25rem;
        }
        .text {
            font-size: var(--fs-50);
            font-weight: var(--fw-small);
            margin-bottom: 1.875rem;
        }

        .link {
            color: var(--clr-primary-900);
        }
    }
}
    
@media screen and (max-width: 1045px) {
    .news-block-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 1220px) {
    .director-block-wrapper::before {
        height: 100%;
    }
}

@media screen and (max-width: 577px) {
    .director-block .director-block-info {
        padding: 2rem 0;
    }
}