@import 'style';

.card {
  .flex.column.start {
    padding: 3.125rem;
    height: 100%;
  }
  .card-title {
    color: var(--clr-primary-900);
    font-weight: var(--fw-medium);
    font-size: var(--fs-300);
    margin-bottom: 0.625rem;
  }
  .descr {
    position: relative;
    padding-bottom: 0.9375rem;
    margin-bottom: 2.5rem;
    &::after {
      content: "";
      width: clamp(100px, 50vw, 510px);
      height: 1px;
      background-color: var(--clr-dark-700);
      position: absolute;
      bottom: 0;
      left: -3.125rem;
    }
  }
  .phone {
    padding-left: 0.9375rem;
    margin-bottom: 2.5rem;
    font-size: var(--fs-50);
    span {
      position: relative;
      font-weight: var(--fw-medium);
      text-transform: uppercase;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--clr-dark-700);
        position: absolute;
        left: -0.9375rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    a {
      margin-top: 5px;
      display: block;
      --color: var(--clr-dark-700);
    }
  }
  link-component {
    font-size: var(--fs-200);
    span {
      font-weight: var(--fw-medium);
    }
  }
}